@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --mainFont: "Quicksand", sans-serif;
  font-family: var(--mainFont);
  --secondFont: "Herr Von Muellerhoff", cursive;
  --thirdFont: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 700;
}

header {
  padding: 1rem 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ecedef;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  font-size: 1.9rem;
  margin-right: 2rem;
}

.btn {
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-nav {
  background: #5f2eea;
  border-radius: 16px;
}

#search {
  width: 600px;
  border-radius: 16px;
  padding: 1rem 2rem;
}

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: 0.125em;
  }
  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    content: "";
    background: #3d4852;
  }
  .navicon::before {
    top: 5px;
  }
  .navicon::after {
    top: -5px;
  }
  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    display: block;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}

.home-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: calc(100vh - 4.6rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-template-areas: "left right";
}

.left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

@media (max-width: 768px) {
  .home-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "left" "right";
  }
}

.text-holder {
  margin-left: 5rem;
  height: 100%;
  padding-top: 9rem;
  width: 100%;
}

.home-hero-upper {
  font-family: var(--secondFont);
  font-size: 7rem;
  letter-spacing: 4.75px;
}

.home-hero-bottom {
  font-family: var(--thirdFont);
  font-weight: bold;
  font-size: 82px;
  letter-spacing: -3.25px;
  margin-bottom: 2rem;
}

.hero-image {
  width: 90%;
  display: block;
  margin-top: 2rem;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border-radius: 10px;
  max-width: 265px;
  margin: 2rem 2rem;
  -webkit-box-shadow: 0px 10px 137px -67px #9e9e9e;
  box-shadow: 0px 10px 137px -67px #8f8f8f;
  overflow: hidden;
}

.main {
  padding: 1rem 1.8rem;
}

.name {
  font-size: 1.7rem;
  display: block;
}

.capital {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  color: #4e4b66;
  font-family: "Segoe UI", var(--thirdFont);
}

.region {
  padding: 0.3rem 0.5rem;
  background: #DED3FF;
  border-radius: 39px;
  font-weight: bold;
}

.allCountries-title {
  margin: 2rem 3rem;
  font-family: "Segoe UI";
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */