@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mainFont: "Quicksand", sans-serif;
  font-family: var(--mainFont);
  --secondFont: "Herr Von Muellerhoff", cursive;
  --thirdFont: "Poppins", sans-serif;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
// Header styles
header {
  padding: 1rem 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: orange;
  border-bottom: 1px solid #ecedef;
  flex-wrap: wrap;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  font-size: 1.9rem;
  margin-right: 2rem;
}
.btn {
  border: none;
  font-size: 1.1rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn-nav {
  background: #5f2eea;
  border-radius: 16px;
}

#search {
  width: 600px;
  border-radius: 16px;
  padding: 1rem 2rem;
}

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: 0.125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    content: "";
    background: #3d4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}

// Home page
.home-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 4.6rem);
  flex-wrap: wrap;
  grid-template-areas: "left right";
}
.left {
  grid-area: left;
  // background-color: lightblue;
}
.right {
  // background-color: lightgreen;
  grid-area: right;
}
@media (max-width: 768px) {
  .home-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas: "left" "right";
    .text-holder{
      padding: 0;
      margin: 0;
      margin-top: 3rem;
      h2{
        font-size: 5rem;
        text-align: center;
      }
      .show{
        display: block;
        margin: 0 auto;
      }
    }
  }
  .right{
    img{
      display: block;
      margin: 2rem auto;
    }
  }
}
.text-holder {
  margin-left: 5rem;
  height: 100%;
  padding-top: 9rem;
  width: 100%;
}
.home-hero-upper {
  font-family: var(--secondFont);
  font-size: 7rem;
  letter-spacing: 4.75px;
}
.home-hero-bottom {
  font-family: var(--thirdFont);
  font-weight: bold;
  font-size: 82px;
  letter-spacing: -3.25px;
  margin-bottom: 2rem;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 90%;
  display: block;
  margin-top: 2rem;
}
.list-wrapper {
  display: flex;
  // width: 90%;
  // margin: 3rem auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.card {
  border-radius: 10px;
  max-width: 265px;
  margin: 2rem 2rem;
  -webkit-box-shadow: 0px 10px 137px -67px rgb(158, 158, 158);
  -moz-box-shadow: 0px 10px 137px -67px rgba(199, 199, 199, 1);
  box-shadow: 0px 10px 137px -67px rgb(143, 143, 143);
  overflow: hidden;
  img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.main {
  padding: 1rem 1.8rem;
  position: relative;
  display: flex;

  flex-direction: column;
}
.name {
  font-size: 1.7rem;
  display: block;
  // padding: 0 1.8rem;
  // padding-top: 1.3rem;
  font-weight: bold;
  // font-family: var(--thirdFont);
  display: block;
  font-family: "Quicksand", sans-serif;
}
.capital {
  // padding: 0 1.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  color: #4e4b66;
  font-family: "Segoe UI", var(--thirdFont);
  display: block;
}
.region,
.currency {
  padding: 0.3rem 0.5rem;
  background: #ded3ff;
  border-radius: 39px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.currency {
  background-color: lightgreen;
  // color: white;
}
.allCountries-title {
  margin: 2rem 3rem;
  font-family: "Quicksand", sans-serif;
}
.tag-wrapper {
  display: flex;
  height: 100%;
  flex-wrap: wrap;

  // background-color: lightblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  padding: 70px;
}
.image {
  padding: 2rem 6rem;
  img {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;
  }
}
.info {
  h1 {
    text-align: left;
    font-weight: bold;
  }
}
.details {
  display: flex;
  // background-color: lightgreen;
  margin-top: 1rem;
  // justify-content: space-between;
}
.one,
.two {
  ul > li {
    margin: 1rem;
  }
}
@media (max-width: 768px) {
  .country-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
    .image {
      padding: 35px;
    }
  }
  .info {
    h1 {
      text-align: center;
    }

    width: 95%;
    margin: 0 auto;
    padding: 0;
    .details {
      display: flex;
      flex-direction: column;
      margin: 0;
      justify-content: flex-start;
      width: 100%;
    }
  }
}
.property {
  font-weight: bold;
  margin-right: 0.2rem;
}
.value {
  margin-left: 0.2rem;
}
@media(max-width:768px){
  #search{
    width: 90%;
  }

}